<div class="container">

  <form  #fg ="ngForm"  >
    <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="authorId">Author Id</label>
      <div class="col-sm-4">
        <input ngModel name="idAuthor" #idAuthor id="authorId" type="text" class="form-control">
      </div>
    </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="authorName">Author Name</label>
        <div class="col-sm-4">
          <input required="required" #nameAuthor ngModel name="nameAuthor"  id="authorName" type="text"
                 class="form-control">
        </div>
      </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="authorAge">Author Age</label>
        <div class="col-sm-4">
          <input id="authorAge" #ageAuthor type="text" ngModel name="ageAuthor" class="form-control">
        </div>
      </div>

      <p>
          {{fg.value | json}}
        </p>

      <button class="btn btn-primary" (click)="addAuthor(fg.value
      )"  [disabled]="!fg.valid" type="submit" >Submit</button>
  </form>
</div>
<br><br>

<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let author of au">
      <th scope="row">{{author.idAuthor}}</th>
      <td >{{author.idAuthor}}</td>
      <td >{{author.nameAuthor}}</td>
      <td >{{author.ageAuthor}}</td>
    </tr>
    </tbody>
  </table>
</div>

